<div class="banner">
  <div class="container">
    <h1>Guitars</h1>
    <p>Rent a guitar!</p>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="cards">
    <% @guitars.each do |guitar| %>
      <div class="card-product">
        <% if guitar.photos.attached? %>
          <%= cl_image_tag guitar.photos[0].key, class:"product-image" %>
        <% else %>
          <%= image_tag "guitar.webp", class: "product-image" %>
        <% end %>
      <div class="card-product-infos">
      <div>
        <h2><%= guitar.name %></h2>
        <p><%= guitar.rental_city %></p>
      </div>
        <span class="price">R$ <%= guitar.price_per_day %> </span>
      </div>
      <%= link_to "View Details", guitar_path(guitar), class:"btn-rent btn-card" %>
      </div>
    <% end %>
  <div>
</div>
