<% "random text" %>

<div class="container container-p">
  <div class="grid-product">
    <div class="product-media">
      <% if @guitar.photos.attached? %>
        <div class="media-gallery">
          <% @guitar.photos[1..].each do |photo|%>
            <%= cl_image_tag photo.key, class:"product-image secondary-image" %>
          <% end %>
        </div>
        <div>
          <%= cl_image_tag @guitar.photos[0].key, class:"product-image primary-image" %>
        </div>

      <% else %>
        <div>
          <%= image_tag "guitar.webp", class: "product-image primary-image" %>
        </div>
      <% end %>
    </div>


    <div class="product-info">
      <h1><%= @guitar.name %><span class="bullet-title">.</span></h1>
      <p><%= @guitar.description %></p>
      <span class="price">  R$ <%= @guitar.price_per_day %></span>
      <p><%= @guitar.available? ? 'Available' : 'Not Available' %></p>
      <% if policy(@guitar).edit? %>
        <%= link_to "Edit", edit_guitar_path(@guitar), class: 'btn btn-primary' %> |
        <% if policy(@guitar).destroy? %>
          <%= link_to "Delete", guitar_path(@guitar), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %> |
        <% end %>
      <% else %>
        <div id='guitar-booking-dates' data-controller='flatpickr' data-unavailable='<%=@guitar.unavailable_dates.to_json%>'>
          <%= simple_form_for [@guitar, @order] do |f| %>
            <%= f.input :start_date, as: :string, type: :text, input_html: {class: 'datepicker'} %>
            <%= f.input :end_date, as: :string, type: :text, input_html: {class: 'datepicker'} %>
            <%= f.submit "Rent Guitar", class: "btn btn-rent" %>
          <% end %>
        </div>
      <% end %>
      <div class="details">
      <h3>Ficha Técnica</h3>
        <div class="details-list">
          <ul>
            <li>Brand<span><%= @guitar.brand %></span></li>
            <li>Model<span><%= @guitar.model %></span></li>
            <li>Material<span><%= @guitar.material %></span></li>
            <li>Pickup<span><%= @guitar.pickup %></span></li>
            <li>Ano<span><%= @guitar.year %></span></li>
            <li>País<span><%= @guitar.country %></span></li>
            <li>Cidade<span><%= @guitar.rental_city %></span></li>
            <li>Handed<span><%= @guitar.right_handed ? 'Right Handed': 'Left Handed' %></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <div class='container'>
  <%= simple_form_for [@guitar, @order] do |f|
    <%= f.input :start_date
    <%= f.input :end_date
    <%= f.submit 'Rent Guitar', class: 'btn btn-primary'
  <% end
</div> %>
