  <p><%= @guitar.name %></p>
  <p><%= @guitar.price_per_day %></p>
  <p><%= @guitar.model %></p>
  <p><%= @guitar.description %></p>
  <p><%= @guitar.material %></p>
  <p><%= @guitar.pickup %></p>
  <p><%= @guitar.right_handed %></p>
  <p><%= @guitar.year %></p>
  <p><%= @guitar.country %></p>
  <%= cl_image_tag @guitar.photo.key if @guitar.photo.attached? %>
