<div class="container mt-5 mb-5">
  <div class="grid-product">
    <div class="product-media">
      <div class="gallery-image">
        <%= image_tag src="guitar.webp", class:"thumb" %>
        <%= image_tag src="guitar.webp", class:"thumb" %>
        <%= image_tag src="guitar.webp", class:"thumb" %>
      </div>
      <%= image_tag src="guitar.webp", class:"product-image" %>
    </div>


    <div class="product-info">
      <h1><%= @guitar.name %></h1>
      <span><%= @guitar.model %></span>
      <p><%= @guitar.description %></p>
      <span class="price">R$ <%= @guitar.price_per_day %></span>
      <a class="btn-rent" href="#">Alugar</a>
      <div class="details">
        <ul>
          <li>Material: <%= @guitar.material %></li>
          <li>Pickup: <%= @guitar.pickup %></li>
          <li>Ano: <%= @guitar.year %></li>
          <li>País: <%= @guitar.country %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <p><%= @guitar.right_handed %></p>
  <p>
<% if policy(@guitar).edit? %>
  <%= link_to "Edit this restaurant", edit_guitar_path(@guitar) %> |
<% end %>
  </p>
  <%= cl_image_tag @guitar.photo.key if @guitar.photo.attached? %>
