  <p><%= @guitar.name %></p>
  <p><%= @guitar.price_per_day %></p>
  <p><%= @guitar.model %></p>
  <p><%= @guitar.description %></p>
  <p><%= @guitar.material %></p>
  <p><%= @guitar.pickup %></p>
  <p><%= @guitar.right_handed %></p>
  <p><%= @guitar.year %></p>
  <p><%= @guitar.country %></p>

  <P>
    <%= link_to 'update', edit_guitar_path(@guitar), class:'btn btn-secondary' %>
  </P>
