<% "random text" %>

<div class="container container-p">
  <div class="grid-product">
    <div class="product-media" data-controller="picker">
      <% if @guitar.photos.attached? %>
        <div class="media-gallery">
          <% @guitar.photos[1..].each do |photo|%>
            <%= cl_image_tag photo.key, class:"product-image secondary-image", data: {action:"click->picker#changeImage"} %>
          <% end %>
        </div>
        <div id="bigger-image">
          <%= cl_image_tag @guitar.photos[0].key, class:"product-image primary-image", data: {'picker-target': "pimage"} %>
        </div>

      <% else %>
        <div>
          <%= image_tag "guitar.webp", class: "product-image primary-image" %>
        </div>
      <% end %>
    </div>


    <div class="product-info">
      <h1><%= @guitar.name %></h1>
      <p><%= @guitar.description %></p>
      <span class="price"> <%= number_to_currency(@guitar.price_per_day / 100.0, unit: "R$ ", delimiter: "") %></span>
      <% if @guitar.available?%>
        <p class="available">Available</p>
      <% else %>
        <p class="not-available">Available <%= @guitar.next_availability.strftime("%d/%m/%y")%></p>
      <% end %>
      <div>
      <% if policy(@guitar).edit? %>
        <%= link_to "Edit", edit_guitar_path(@guitar), class: 'btn-card-4 btn-secondary' %>
      <% else %>
        <div id='guitar-booking-dates' data-controller='flatpickr' data-unavailable='<%=@guitar.unavailable_dates.to_json%>'>
          <%= simple_form_for [@guitar, @order] do |f| %>
            <div class='d-flex gap-3'>
              <%= f.input :start_date, label: 'Rental Date', as: :string, type: :text, input_html: {class: 'datepicker'} %>
              <%= f.input :end_date, label: 'Return Date', as: :string, type: :text, input_html: {class: 'datepicker'} %>
            </div>
            <%= f.submit "Rent Guitar", class: "btn btn-rent" %>
          <% end %>
        </div>
      <% end %>
      </div>
      <div class="details">
      <h3>Technical Details</h3>
        <div class="details-list">
          <ul>
            <li>Brand<span><%= @guitar.brand %></span></li>
            <li>Model<span><%= @guitar.model %></span></li>
            <li>Material<span><%= @guitar.material %></span></li>
            <li>Pickup<span><%= @guitar.pickup %></span></li>
            <li>Ano<span><%= @guitar.year %></span></li>
            <li>País<span><%= @guitar.country %></span></li>
            <li>Cidade<span><%= @guitar.rental_city %></span></li>
            <li>Handed<span><%= @guitar.right_handed ? 'Right Handed': 'Left Handed' %></span></li>
          </ul>
        </div>
      </div>
            <% if policy(@guitar).destroy? %>
          <%= link_to "Delete", guitar_path(@guitar), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn-rent mt-4' %>
          <% end %>
    </div>
  </div>
</div>

<%# <div class='container'>
  <%= simple_form_for [@guitar, @order] do |f|
    <%= f.input :start_date
    <%= f.input :end_date
    <%= f.submit 'Rent Guitar', class: 'btn btn-primary'
  <% end
</div> %>
