<div class="cards">
  <% guitars.each do |guitar| %>
    <div class="card-product">
      <% if guitar.photos[0] %>
        <%= cl_image_tag(guitar.photos[0].key, class: 'product-image') %>
      <% end %>
      <div class="card-product-infos">
        <div>
        <h3><%= guitar.name %></h3>
        <p><%= guitar.rental_city %></p>
        <% if guitar.available?%>
          <p class="available">Available</p>
        <% else %>
          <p class="not-available">Available <%= guitar.next_availability.strftime("%d/%m/%y")%></p>
        <% end %>
        </div>
      <span class="price">R$ <%= guitar.price_per_day %> </span>
      </div>
      <%= link_to "View Details", guitar_path(guitar), class:"btn-rent btn-card-2" %>
      <% if policy(guitar).edit? %>
        <%= link_to "Edit", edit_guitar_path(guitar), class:"btn-card btn-secondary" %>
      <% end %>
    </div>
  <% end %>

</div>
