<div class="rental-list">
  <% orders.each do |order| %>
  <div class="rental-card">
    <h3><%= order.guitar.name%></h3>
    <div class="order-date">
    <p>start date: <%= order.start_date%></p>
    <p>end date: <%= order.end_date%></p>
    </div>

    <%= link_to "Order details", order_path(order), class: 'btn-primary btn-card' %>
  </div>
  <% end %>
</div>
<%= link_to 'Back', url_for(:back), class: 'btn-third mtb-x' %>
